h1{
    font-family: "Arial Black";   
    font-style: italic;
    font-weight: bold; 
    text-decoration: underline
}
.Panneau {

    border: 3px solid #364970;
    text-align: center;
    margin: 10px;
    margin-top: 50px;
    height: 110px;
    background-color: #364970;
    color: white;
}



.Button {
    display: flex;
    flex-direction: row;

    /*text-align: center;*/
    font-size: 1.2em;
    margin: 30px;
    
}



.Button_t {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-indent: 200px;
    font-size:100% ;
    background-color: #364970;
    color: white;
    border: 5px solid #eba338;
    border-radius: 15px;
    outline:none;
}

.Button_t:hover {
    border-radius: 15px;
    background-color: #eba338;
    color: white;
    transition: 0.5s;
    outline:none;
}

.Consigne_1 {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;

}


input{
     width: 2em;  
    height: 2em;
    color: black;
    background-color: #C8C8C8;
    border-color: #364970;
    border: 0;
    outline:none;
}

input[type=submit] {
    border-radius: 10px;
    border: 0;
    text-rendering: auto;
    color: white;
    background-color: #eba338;
    width: 5em;
    height: 2em;
    text-align: middle;
    font-size:90%;
    margin-left:auto;
    margin-right:auto; 
    margin-top: auto;
    outline:none;
}

input[type=reset] {
    border-radius: 10px;
    border: 0;
    text-rendering: auto;
    color: white;
    background-color: #eba338;
    width: 5em;
    height: 2em;
    text-align: middle;
    font-size:90%;
    margin-left:auto;
    margin-right:auto; 
    margin-top: auto;
    outline:none;
}

.Cercle{
    position: absolute;
    left:110px;
    top:260px;}


.Grid{
    position: absolute;
    left: 700px;
    top:250px;}

.Color{
    position: absolute;
    right: 140px;
    top:310px;
    color: #7575a3;
}

#a11{
    display: block;
    background-color: #F5B041;
    text-align: center; 
}

#a12{
    display: block;
    background-color: #EB984E;
    text-align: center; 
}

#a13{
    display: block;
    background-color: #F5CBA7; 
    text-align: center;
}

#a14{
    display: block;
    background-color: #FAD7A0; 
    text-align: center;
}

.Total{
    display: block;
    top: 100px;
}


