body{
	margin:0px;
}

header{
	margin-top: 0px;
	background-color:#556fb2;
	display: flex;
	justify-content: flex-end;
	position: relative;
	height:40px;
	width:100%;
	font-family: 'Quicksand';
}

.menulangue{
	width:10%;
	text-align: center;
	background:#4a63a3;
}

.menulangue span, .submenulangue img{
	position:relative;
	top:25%;
}

.menulanguehidden{
	display: none;
	position: relative;
	top:54%;
	height:300%;
	background:#556fb2;
	z-index: 1;
}

.menulanguehidden div{
	height:33%;
}

.profil{
	width:39px;
	background-color:rgb(100,100,100);
	margin-right:5px;
}

.imgprofil{
	height: 100%;
}

.login{
	height:100%;
	width:10%;
	text-align: center;
	
	text-decoration: none;
	cursor: pointer;
	border-width:0px;
	top:50%;
	background:#556fb2;
	color:rgb(200,200,200);

	-webkit-appearance: none; 
    -moz-appearance: none;
	appearance: none;
	
}

.imgprofil:hover{
	opacity: 0.5;
}

.login:hover{
	color: #d8764a;
}

.menulangue:hover .menulanguehidden{
	display: block;
}

.submenulangue:hover{
	background-color: #d8764a;
}

#infoClient{
	margin-left:10px;
	margin-right:10px;
}