/* Relevé de consommation */

body,html{
    height: 100%;
    width: 100%;
}
#choixhabitat{
    width: 20%;
    height:100%;
    margin-left:10px;
    border: 1px solid #fff;
}
#consommation{
    width: 70%;
    height:100%;
    margin-left:10px;
    border: 1px solid #fff;
}

.logementbtn{
    font-family: 'Quicksand', sans-serif;
    border:2px solid #eba338;
    background-color: white;
    border-radius: 10px;
    margin-top:20px;
    font-size: 1.2em;
}

.logementbtn:hover{
    background-color: #eba338;
    color:#fff;
    cursor: pointer;
}


.lgd{
    font-family: 'Quicksand', sans-serif;
    color:#fff;
    
}

#infoConso{
    color:#eba338;
    font-size: 1.2em;
}