body{
	background-color:#374873;
	background-image: url("../Images/placeholder.jpg");
	background-position: 50% 50%;
	background-size: cover;
	background-repeat: no-repeat;
	margin:0;
	padding: 0;
}

*{
	box-sizing: border-box;
}

#table{
  padding-top: 20px;
  margin-left:auto;
  margin-right:auto;
  width:90%;
  font-family: 'PT Sans', sans-serif;
}

.tabcontent{
	text-align: center;
	background-color: #556fb2;
	width: 70%;
	margin: 0 auto;
	height: 500px;
	margin-top: 5px;
}

#tabtitle{
	font-size: 30px;
	font-family: 'Quicksand', sans-serif;
	color: white;
	text-align: center;
}

.subtabtitle{
	font-family: 'Quicksand', sans-serif;
	font-size: 25px;
	padding-top: 20px;
	color: white;
}

#form-modif-client{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	border:1px solid grey;
}

#table{
  padding-top: 20px;
  margin-left:auto;
  margin-right:auto;
  width:90%;
  font-family: 'PT Sans', sans-serif;
}

.table-header .cell{
  width: calc(20% - 0px);
}

#table-body .cell{
  width:20%;
}

.cell{
	height: 25px;
	margin-top: auto;
	margin-bottom: auto;
}

.table-header .row{
  background-color:#eba338;
}
.row{
  display:flex;
  margin-left:auto;
  margin-right:auto;
}

.table-header .cell{
  width: calc(20% - 0px);
}

#table-body .cell{
  width:20%;
}

.admin_option{
	width: 20px;
	height: 20px;
	margin-left: 20px;
}

.admin_option:hover{
	border:2px solid #eba338;
}


#table-body .row:nth-child(even){
  background-color:#8ca1db;
}

#table-body .row:nth-child(odd){
  background-color:#7a93d6;
}

.tabbutton{
	width: 30%;
	height: 30px;
	border: none;
	background: none;
	font-family: 'Quicksand', sans-serif;
	color: white;
}

.tabbutton:hover{
	background-color:#eba338;
}


.tab{
	background-color: #556fb2;
	position: relative;
	margin: 0 auto;
  	border-radius: 3px;
  	text-align: center;
  	width: 70%;
}


#table-body{
  height:350px;
  overflow-y:scroll;
}

/* Panneau Capteurs */

.block{
    display: flex;
    flex-direction: row;
}

.tableGestion{
  width:95%;
  margin-left:auto;
  margin-right:auto;
  border: 1px solid #fff;
  border-radius: 5px;
  overflow: hidden;
}

.tableGestion td {
  font-size: 14px;
  color: #fff;
  line-height: 1.4;
}

.tableGestion th {
  font-size: 12px;
  color: #fff;
  line-height: 1.4;
  text-transform: uppercase;
  background-color: rgba(255,255,255,0.32);
}

.btn-tab{
    -ms-transform: translateY(0%);
    transform: translateY(0%);
    height:40px;
    font-size:110%;
    border-radius: 105px;
    outline:none;
    width: 50%;
    background-color:#FFFFFF;
    margin-right:10%;
    margin-left:10%;
    margin-top: 10px;
    margin-bottom: 10px;
    border:2px #EDA04C solid;

}

.btn-tab:hover{
    opacity:0.7;
    transition:0.6s;
    cursor: pointer;
}

.btn-tab-selected{
    background-color:#eda04c !important;
    color:white;
}

.btn-ajouter{
    height:10%;
    font-size:110%;
    color: #FFF;
    border-radius: 105px;
    outline:none;
    width: 30%;
    margin-top: 10px;
    background-color:#EDA04C;
    border:2px #FFFFFF solid;

}

.btn-ajouter:hover{
    opacity:0.7;
    transition:0.6s;
    cursor: pointer;
}

.btn-ajouter-selected{
    background-color:#eda04c !important;
    color:white;
}


/* Animations */

#form-modif-client{
	display: flex;
	flex-direction: column;
}

